#WorldwideContainer{
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    margin-bottom: 5vh;
    height: auto;
}

#WorldwideTitle{
    text-align: center;
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-weight: 300;
    font-size: 5vh;
    color: white;
}

#WorldwideTitleUnderline{
    height: 1.5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
    background-color: white; 
}

#WorldwideIntro{
    padding: 0px 5px 5px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    text-align: center;
    font-weight: 300;
    color: white;
}

#WorldwideIntroContainer{
    background-color: #1DB954;
    border-radius: 10px 10px 0px 0px;
    margin: 0px 10px 0px 10px;
}

.bold {
    font-weight: 500;
}

#CountryPicker{
    border: solid #1DB954 1.5px;
    height: 5vh;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
}

.CountryOption{
    width: 10%;   
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #1DB954;
    transition: .5s;
    height: 100%;
    font-size: 1.7vh;
    cursor: pointer;
}

.CountryOption:hover{
    background-color: #1DB954;
    color: white;
    transition: .5s;
}

#Option1{
    border-top-left-radius: 0px;
}

#Option10{
    border-top-right-radius: 0px;
}

#CountryDisplay{
    border: solid #1DB954;
    border-width: 0px 1.5px 0px 1.5px;
    height: 40vh;
    margin: 0px 10px 0px 10px;
    background-color: #1DB954;
}

#CountryData{
    margin: 0px 2px 0px 2px;
    border-radius: 0px 0px 5px 5px;
}

.CDHeader {
    font-weight: 300;
    background-color: #1DB954;
    border: 1.5px solid white;
    border-radius: 4px;
    width: 7.14%;
    color: white;
    font-weight: 500; 
}

#CDTable{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    border-radius: 0px;
    padding: 5px 5px 0px 5px;
}

.CDDatum{
    height: 10px;
    background-color: rgba(29, 185, 84, .5);
    border: 1.5px solid white;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    height: 20vh;
}

#PadDiv {
    height: 10px;
    border: 1px solid white;
    background-color: white;
    margin: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.PositionCol {
    font-size: 8vh;
    text-align: center;
    font-weight: 500;
    background-color: #1DB954;
    color: white;
}