/* panel 2 */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 100px;
  }

  .panel-2 { 
    background-color: #7692A6; 
  }
  
  #panel-2-myth {
    background-color: #f2c641;
    font-family: 'Playfair Display', serif; 
    text-align: center;
    margin-top: 20px!important;
    vertical-align: bottom!important;
    width: 100vw;
    height: 50vh;
  }
  
  #panel-2-fact {
    background-color: #f2e2ce;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 20px!important;
    margin-bottom: 0px;
    width: 100vw;
    height: 50vh;
  }
  
  #panel-2-footer { 
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    /* background-image: url('../img/ground_2.jpg'); */
    background-position: center;
    background-size: contain;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 35px;
    text-align: center;
  }
  