ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

a:hover {
  color: #000;
}

p {
  font-family: "Georgia", serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: #333;
}

.navbar {
  font-size: 1.25rem;
  padding: 4vh 0;
}

.navbar {
  background-color: rgb(88,255,191);
  color: #333;
  margin-bottom: 73vh;
}

.navbar-item {
  opacity: 1;
  transition: all .3s;
}

.navbar-item:hover {
  color: #000;
}

.navbar-item.active {
  opacity: 0;
}

.navbar-items {
  justify-content: space-between;
  margin: 0 auto;
  width: 50rem;
  min-width: 50vw;
  max-width: 80vw;
}

.footer {
  font-size: 1.25rem;
  padding: 8vh 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-top: 5rem;
  line-height: 1.75rem;
}

.footer-highlight {
  color: rgb(88,255,191);
}

@media only screen and (min-width: 767px) {
  .navbar {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    margin-bottom: 50vh;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .navbar {
    margin-bottom: 100vh;
  }
}