.Top100Container{
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    margin-bottom: 5vh;
}

#Top100Intro{
    padding: 15px 5px 0px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    text-align: center;
    font-weight: 300;
    color: #1DB954;
}