#Top100Container{
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    margin-bottom: 5vh;
}

#Top100Title{
    text-align: center;
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-weight: 300;
    font-size: 5vh;
    color: #1DB954;
}

#TitleUnderline{
    height: 1px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5px;
    background-color: #1DB954; 
}

#Top100Intro{
    padding: 0px 5px 0px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    text-align: center;
    font-weight: 300;
    color: #1DB954;
}

#Top100Grid1{
    display: grid;
    padding: 10px;
    height: 75vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 25% 25%;
    grid-template-areas: 
        "drk drk eds eds eds eds chn chn chn chn mgx mgx"
        "bms bms chs chs cbt cbt djk djk ids ids klr klr" 
        "kld kld lfi lfi mr5 mr5 pmn pmn wkd wkd zyn zyn";
}

#drk{
    grid-area: drk;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#drkimg{
    background-image: url("img/Drake.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
#eds{
    grid-area: eds; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "TTL TTL"
        "REC ART"
}
#edsttl{
    grid-area: TTL;
}
#edsrec{
    grid-area: REC;
    border-bottom-left-radius: 10px;
}
#edsimg{
    background-image: url("img/EdSheeran.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 130%;
    border-bottom-right-radius: 10px; 
}
#chn{
    grid-area: chn;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "TTL TTL"
        "ART REC"
}
#chnttl{
    grid-area: TTL;
}
#chnrec{
    grid-area: REC;
    border-bottom-right-radius: 10px;
}
#chnimg{
    background-image: url("img/Chainsmokers.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 130%;
    border-bottom-left-radius: 10px;
}
#mgx{
    grid-area: mgx;
}
#mgximg{
    background-image: url("img/MartinGarrix.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 65%; 
}
#bms{
    grid-area: bms;
}
#bmsimg{
    background-image: url("img/BrunoMars.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
#chs{
    grid-area: chs;
}
#chsimg{
    background-image: url("img/CalvinHarris.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 130%;
    border-bottom-right-radius: 10px;
}
#cbt{
    grid-area: cbt;
}
#cbtimg{
    background-image: url("img/CleanBandit.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110%;
}
#djk{
    grid-area: djk;
}
#djkimg{
    background-image: url("img/DJKhaled.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120%;
    border-bottom-right-radius: 10px;
}
#ids{
    grid-area: ids;
}
#idsimg{
    background-image: url("img/ImagineDragons.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 105%;
}
#klr{
    grid-area: klr;
}
#klrimg{
    background-image: url("img/KendrickLamar.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 140%;
    border-bottom-right-radius: 10px;
}
#kld{
    grid-area: kld;
}
#kldimg{
    background-image: url("img/Khalid.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 140%;
}
#lfi{
    grid-area: lfi;
}
#lfiimg{
    background-image: url("img/LuisFonsi.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120%;
}
#mr5{
    grid-area: mr5;
}
#mr5img{
    background-image: url("img/MaroonFive.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120%;
    border-bottom-right-radius: 10px;
}
#pmn{
    grid-area: pmn;
}
#pmnimg{
    background-image: url("img/PostMalone.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 85%;
}
#wkd{
    grid-area: wkd;
}
#wkdimg{
    background-image: url("img/TheWeeknd.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 130%;
    border-bottom-right-radius: 10px;
}
#zyn{
    grid-area: zyn;
}
#zynimg{
    background-image: url("img/Zayn.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.Top100Spot{
    margin: 5px;
    border-radius: 10px;
}

.ChartTopperTitleS{
    height: 20%;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 3.5vh;
    line-height: 7vh;
    background-color: #1DB954;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    border-bottom: 1px solid black;
}

.Records4{
    background-image: url("img/4Records.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #ECECEC;
}

.Records3{
    height: 25%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("img/3Records.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #ECECEC;
}

.ChartTopperArtistS{
    height: 55%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ECECEC;
}

.Bottom12{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "TTL TTL ART ART"
        "REC REC ART ART";
}

.Bottom12Title{
    grid-area: TTL;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2vh;
    text-align: center;
    background-color: #ECECEC;
    border-top-left-radius: 10px;
}

.Bottom12Records{
    grid-area: REC;
    background-image: url("img/2Records.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #ECECEC;
    border-bottom-left-radius: 10px;
}

.Bottom12Artist{
    grid-area: ART;
    border-left: 1px solid black;
    background-color: #1DB954;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ChartTopperTitleL{
    color: white;
    text-align: center;
    font-size: 2.5vw;
    line-height: 7vh;
    background-color: #1DB954;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black; 
}

.ChartTopperArtistL{
    background-color: #ECECEC;
}