body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.simpsons{
  width:200px;
  height:200px;
  /* border-right:2px black solid; */
  /* padding-right:5%; */
}
.simpsons-images{
  display:flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.panel {
  /* height: 100vh; */
  height: 100vh;
  width:100vw;
  /* padding: 5%; */
}
.panel.intro{
  background: #6DD7F0;
  /* margin-bottom:400px; */
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-content: center;
   
 }
 .panel.body{
  background:#6492D0;
  /* margin-bottom:400px; */
 }
 .panel.chart{
  background:#FFD938;
  /* margin-bottom:400px; */
 }
.panel.colophon {
  background: #64D09E;
}

 h1{
  font-family: 'Permanent Marker', cursive;
  font-size:3em;
  text-align: center;
 }
 h2, p{
  font-family: 'Varela Round', sans-serif; 
}

h2{
  font-size:2em;
  color:white;
  text-align: center;
}
h3{
  font-family: 'Permanent Marker', cursive;

}
p{
  font-size: 1.3em;
}



#homer .cls-1{fill: #f3df49;}
#homer .cls-2{fill: "#231f20";}
#marge .cls-1{fill:#f3df49;}
#marge .cls-2{fill:#231f20;}
#marge .cls-3{fill:#38409a;stroke:#231f20;stroke-miterlimit:10;stroke-width:0.5px;}
#bart .cls-1{fill:#f4df4a;}
#bart .cls-2{fill:#231f20;}
#lisa .cls-1{fill:#f3df49;}
#lisa .cls-2{fill:#231f20;}
#maggie .cls-1{fill:#f4df4a;}
#maggie .cls-2{fill:#231f20;}
#maggie .cls-3{fill:#894253;stroke:#231f20;stroke-miterlimit:10;stroke-width:0.5px;}

.flexbox{
  display:flex;
  /* align-content: center; */
  justify-content:space-evenly;
  /* flex-basis: row; */
}
img{
  /* width:20vw;
  height: 34vh; */
  /* margin-left:5px;
  margin-right:5px; */
  border:white 1px solid;
  /* height: 50%; */
}

h3{
  text-align: center;
  color:#FFD938;
  padding:10px;
  /* margin-left:9px;
  margin-right:9px; */
  background:white;
  opacity:.9;
}
h3:hover{
  background:#FFD938;
  color:white;
}