body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* for highcharts styles */

.highcharts-tooltip span {
  height:auto;
  width:140px;
  overflow:auto;
  white-space:normal !important;
}

text {
  color: black !important;
  outline: black;
  fill: black !important;
  font-weight: bold;
  font-size: 13px !important;
}

.highcharts-subtitle {
  color: black !important;
  outline: none;
  fill: inherit !important;
}

tspan {
  font-weight: bold;
  stroke: none;
  font-size: 13px;
}

.highcharts-title tspan{
  font-size: 20px;
  font-family: Times New Roman;
}

.highcharts-packedbubble-series tspan {
  font-weight: normal; 
}

.highcharts-tooltip tspan {
  font-weight: normal;
}

.highcharts-grid-line{
  stroke: pink;
}

.highcharts-yaxis-grid path {
  stroke: silver;
}

.highcharts-xaxis-grid path {
  stroke: none;
}