@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');


#Top10Container{
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
    margin-bottom: 5vh;
}

#Top10Title{
    text-align: center;
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-weight: 300;
    font-size: 5vh;
    color: #1DB954;
}

.TitleUnderline{
    height: 1px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5px;
    background-color: #1DB954; 
}

#Top10Intro{
    padding: 0px 5px 0px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    text-align: center;
    font-weight: 300;
    color: #1DB954;
}

#IntroSpan {
    font-weight: 500;
}

#Top10Grid {
    display: grid;
    height: 80vh;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas:
        "A01 A01 A01 A01 A01 A01"
        "A02 A02 A03 A03 A04 A04"
        "A05 A06 A07 A08 A09 A10"
}

#A01 {
    grid-area: A01;
    background-image: url("img/EdSheeranPicEdit.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: black;
}
#A02 {
    grid-area: A02;
    background-image: url("img/DespacitoRemixCoverEdit.jpg");
    background-position: center;
    background-size: cover;
}
#A03 {
    grid-area: A03;
    background-image: url("img/DespacitoCover.png");
    background-position: center;
    background-size: cover;
}
#A04 {
    grid-area: A04;
    background-image: url("img/SomethingJustLikeThisCover.png");
    background-position: center;
    background-size: cover;
}
#A05 {
    grid-area: A05;
    background-image: url("img/ImTheOneCover.jpg");
    background-position: center;
    background-size: cover;
}
#A06 {
    grid-area: A06;
    background-image: url("img/HumbleCover.jpg");
    background-position: center;
    background-size: cover;
}
#A07 {
    grid-area: A07;
    background-image: url("img/ItAintMeCover.png");
    background-position: center;
    background-size: cover;
}
#A08{
    grid-area: A08;
    background-image: url("img/UnforgettableCover.jpg");
    background-position: center;
    background-size: cover;
}
#A09{
    grid-area: A09;
    background-image: url("img/ThatsWhatILikeCover.jpg");
    background-position: center;
    background-size: cover;
}
#A10{
    grid-area: A10;
    background-image: url("img/IDontWannaLiveForeverCover.png");
    background-position: center;
    background-size: cover;
}

.Top10Spot {
    margin: 5px;
    color: white;
    background-color: grey;
    border-radius: 10px;
}

.Top10SpotCover1{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:rgba(218, 165, 32, .8);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60% 40%;
    grid-template-areas:
        "NUM TIT TIT TIT PIC"
        "NUM ART ART ART PIC"
}

#Number1NumDiv{
    grid-area: NUM;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Number1TitleDiv{
    grid-area: TIT;
    display: flex;
    align-items: flex-end;
}

#Number1ArtistDiv{
    grid-area: ART;
    display: flex;
    align-items: flex-start
}

#Number1ArtworkDiv{
    grid-area: PIC;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#Number1Artwork{
    margin-right: 1vw;
    width: 70%;
    border-radius: 10px;
    background-image: url(img/ShapeOfYouCover.png);
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: .5s;
}

#Number1Artwork:before{
    content: "";
    display: block;
    padding-top: 100%;
}

#Number1SpotNumber{
    font-size: 30vh;
    font-weight: 500;
}

#Number1SpotTitle{
    margin: 0;
    font-size: 6.5vw;
    opacity: 0;
    font-weight: 500;
    transition: .5s;
}

#Number1SpotArtist{
    margin: 0;
    font-size: 4vw;
    opacity: 0;
    font-weight: 300;
    transition: .5s
}

.Top10SpotCover2-4{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:rgba(192, 192, 192, .8);
    border-radius: 10px;
    font-size: 1.5vw;
}

.Top10SpotCover5-10{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:rgba(205, 127, 50, .8);
    border-radius: 10px;
    font-size: 1vw;
}

.Top10SpotNumber{
    margin: 0px;
    opacity: 1;
    text-align: center;
    height: 40%;
    padding-top: .5vh;
    font-size: 8vh;
    font-weight: 500;
}

.Top10SpotTitle{
    margin: 0px;
    opacity: 0;
    transition: .5s;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0px;
    font-weight: 500;
}

.Top10SpotArtist{
    margin: 0px;
    opacity: 0;
    transition: .5s;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1vh;
    font-weight: 300;
    font-size: 1.5vw;
}

.Top10Spot:hover .Top10SpotTitle{
    opacity: 1;
    transition: .5s;
}

.Top10Spot:hover .Top10SpotArtist{
    opacity: 1;
    transition: .5s;
}

.Top10Spot :hover {
    cursor: pointer;
}

#A01 :hover #Number1SpotTitle{
    opacity: 1;
    transition: .5s;
}

#A01 :hover #Number1Artwork{
    opacity: 1;
    transition: .5s;
}

#A01 :hover #Number1SpotArtist{
    opacity: .75 ;
    transition: .5s;
}