.bubble-chart2 {
  position: relative;
  margin: 1rem auto;
  height: 70vh;
  width: 90vw;
  max-width: 100rem;
}

@media only screen and (min-width: 767px) {
  .bubble-chart2 {
    margin: 2rem auto 1rem;
    height: 60vh;
    max-height: 20rem;
  }
}

@media only screen and (min-width: 1025px) {
  .bubble-chart2 {
    max-height: 40rem;
  }
}