#ColophonContainer{
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 5px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: auto;
}

#ColophonTitle{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-weight: 300;
    font-size: 5vh;
    color: #1DB954;
}

#ColophonText{
    border: 1.5px solid #1DB954;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
}

.ColophonParagraph{
    margin: 0px 0px 10px 0px;
}