@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 100%;
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 7px #333;
  background-color: lightgoldenrodyellow;
  background-image: url("https://brookenf.github.io/race-to-the-finish/img/grad-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.App-header img {
  width: 10vw;
}

p {
  margin: 5vh auto;
  min-width: 50vw;
  width: 680px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.main, .results {
  width: 100%;
  flex-direction: column;
  position: relative;
}

.main p:first-of-type {
  margin-top: 20vh;
}

a {
  color: inherit;
}

a:hover {
  color: cornflowerblue;
}

.nc-outline {
 padding-bottom: 7%;
 max-width: 75%;
}

.sort {
  width: 75%;
  text-align: center;
}

.sort__btns {
  margin: 4%;
  justify-content: space-around;
  cursor: pointer;
}

.sort__btns div{
  display: inline-block;
  color: inherit;
  transition: all ease-in-out 0.1s;
}


.sort__btns div:after {
  display: block;
  content: '';
  border-bottom: solid 3px #447BBE;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out; 
  transform-origin:  0% 50%;
}

.sort__btns div:hover:after {
  transform: scaleX(1); 
}

.active {
  border-bottom: solid 3px #447BBE;
}

.chart-container {
  padding: 3%;
  margin: 5vh auto;
  position: relative;
  width: 75%;
  height: 70vh;
}

.chart__column {
  position: absolute;
  top: 0;
}

.hide {
  display: none;
}


#colophon {
  margin-top: 5vh;
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

#colophon h4{
  min-width: 50vw;
  width: 680px;
  margin-bottom: 0;
  font-size: 1.4rem;
}

#colophon p {
  margin-top: 0;
  margin-bottom: 2vh;
}

@media screen and (max-width: 900px) {
  .App-header {
    background-attachment: unset;
    text-align: center;
  }

  .main, .results{
    max-width: 95%;
  }

  p {
    width: 100%;
  }

  .sort {
    width: 95%;
  }

  .sort__btns {
    flex-wrap: wrap;
  }

  .chart-container {
    height: 55vh;
  }

  div.highcharts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: auto !important;
  }

  svg.highcharts-root {
    width: 100vw !important;
    height: auto !important;
    margin: 0 auto;
  }

  #colophon {
    width: 100%;
    height: auto;
  }
  
  #colophon h4, #colophon p {
    width: 95%;
  }

}