@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-size: 16px;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 100%;
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 7px #333;
  background-color: lightgoldenrodyellow;
  background-image: url("/img/grad-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.App-header img {
  width: 10vw;
}

.main {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.main p {
  margin: 5vh auto;
  min-width: 50vw;
  width: 680px;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.main p:first-of-type {
  margin-top: 20vh;
}

.main p:last-of-type {
  margin-bottom: 20vh;
}

.main p a {
  color: inherit;
}

.main p a:hover {
  color: cornflowerblue;
}

.nc-outline {
 padding: 7%;
 position: absolute;
}