.card {
    display: inline-flex;
    margin: 0 25px;
    width: 350px;
    background-color: #FF7081;
}
.btn-primary {
    background-color: #4A238F;
    border-color: #4A238F;
}
.card-txt {
    height: 125px;
}
.spacer {
    margin-bottom: 40px;
}