#DefaultFrame path {
    stroke: #fff;
    fill: rgb(255, 255, 255, .5);
    stroke-dasharray: 700;
    opacity: 10;
    animation: Defaultanimate 3s cubic-bezier(.42,0,.58,1);
}

#DefaultSVG {
    margin-top: 20.5vh;
}

@keyframes Defaultanimate {
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 0;
    }
    25% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 700;
    }
    50% {
        opacity: 10;
        fill: none;
    }
    75% {
        fill: rgba(255,255,255,0);
    }
    100%{
        fill: rgb(255, 255, 255, .5);
    }
}