/* Fonts */
@font-face {
    font-family: primary;
    src: url(fonts/goboldBold.otf);
}

@font-face {
    font-family: secondary;
    src: url(fonts/Florentia-Regular-trial.ttf);
}

h1 {
    font-family: primary;
    font-size: 48px;
    color: #F3E6C3;
    margin: 50px 25px 25px 50px;
    padding-top: 50px;
}

h2 {
    font-family: primary;
    color: #F3E6C3;
    margin: 50px 25px 25px 50px;
}

p {
    font-family: secondary;
    font-size: 24px;
    color: #F3E6C3;
}

/* Navigation Bar */
.navBG {
    background: #876933;
    padding: 5px 0px 5px 0px;
}

#logo {
    width: 175px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 25px;
}

.bar {
    height: 5px;
    margin-top: 0px;
    background: #F3E6C3;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    font-family: primary;
    font-size: 21px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
}

/* Body Styling */
body {
    background-size: cover;
    background-image: url("images/thief.jpg");
}

.maxWidth {
    max-width: 1250px;
    margin: 0 auto;
}

/* Pseudoclasses */
a:link {
    text-decoration: none;
    color: #F3E6C3;
    font-family: primary;
}
  
a:visited {
    color: #F3E6C3;
    text-decoration: none;
}

/* Animated Elements */
#categoryLink:hover {
    color: white;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  } 
  
  .bounce { 
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
    
  @-webkit-keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-5px);}
  } 
  
  @keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
  } 